<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" 
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous">
        <title>prices - tf2-express</title>
    </head>

    <body>
        <div class="container">
            <h1>PRICES</h1>

            <p>Add multiple items separted by comma(s)</p>
            <form action="/add" method="POST" class="my-4 form-inline">
                <label for="names" class="sr-only">Item name</label>
                <input required placeholder="The Team Captain, Non-Craftable Tour of Duty Ticket" type="text" name="names" id="names" class="form-control col mr-2"></th>                    
                <button class="btn btn-success" type="submit">Add</button>
            </form>
            <p>Item prices will be added and updated when running <i>main.py</i>.</p>
            <p>If the bot does not add its prices on startup you might have written in the wrong
            item name. E.g. "Team Captain" instead of "The Team Captain".</p>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Item name</th>
                        <th>Buy keys</th>
                        <th>Buy refined</th>
                        <th>Sell keys</th>
                        <th>Sell refined</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <th>{{ item["name"] }}</th>
                            <th>{{ item["buy"]["keys"] }}</th>
                            <th>{{ item["buy"]["metal"] }}</th>
                            <th>{{ item["sell"]["keys"] }}</th>
                            <th>{{ item["sell"]["metal"] }}</th>
                            <th><a href="/delete/{{ item["name"] }}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
