:root {
    --green: #4CFF00;
    --red: #BE1A1A;
    --black: #1D1D1D;
    --link-green: #72D587;
}

.table-dark {
    --bs-table-bg: var(--black);
}

body {
    background-color: var(--black);
    color: white;
}

h1 {
    color: var(--green);
    margin-top: 5%;
}

h2 {
    margin-top: 2.5%;
}

a {
    color: var(--link-green);
}

footer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.trade-container {
    display: flex;
    align-items: flex-start; /* Align items at the top */
}

.left {
    width: 55%; 
    text-align: left;
}

.right {
    flex-grow: 1;
}